@define-color background #1b1b1d;
@define-color background-alt #232327;
@define-color foreground #b1b1b3;
@define-color foreground-alt #737373;
@define-color urgent #ff7de9;
@define-color accent #75bfff;
@define-color splitter #38383d;

* {
  font-family: Cantarell;
  font-weight: 600;
  min-height: 0;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
}

window#waybar {
  background-color: @background;
  color: @foreground;
  font-size: 14px;
  border-bottom: 1px solid @splitter;
}

tooltip {
  background-color: @background-alt;
  border-radius: 4px;
  border: 1px solid @splitter;
}
tooltip label {
  color: @foreground;
}

.modules-left {
  margin-left: 12px;
}

.modules-right {
  margin-right: 12px;
}

#workspaces button {
  color: @foreground-alt;
  font-size: 12px;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  transition: none;
  background: none;
  color: @foreground;
}

#workspaces button.focused {
  color: @foreground;
  background: @foreground;
  border-radius: 20px;
  padding: 0px 5px;
  margin: 7px 3px;
  font-size: 0px;
}

#workspaces button.urgent {
  color: @accent;
}

#mode,
#window {
  padding: 0px 14px;
}

#mode {
  color: @background;
  background: @foreground;
  border-radius: 20px;
  margin: 3px 0px 3px 12px;
}

window#waybar.mode-invisible {
  opacity: 0;
}

window#waybar.mode-invisible.empty,
window#waybar.mode-invisible.floating {
  opacity: 1;
}

#cpu,
#memory,
#network,
#temperature,
#tray,
#idle_inhibitor {
  padding: 0 8px;
}

#temperature.critical {
  color: @urgent;
}

#idle_inhibitor {
  color: @foreground;
  font-size: 18px;
}

#idle_inhibitor.deactivated {
  color: @foreground-alt;
}
