@define-color background #212121;
@define-color foreground #E2E2E2;
@define-color foreground-alt #ABABAB;
@define-color foreground-sec #5a5a5a;
@define-color urgent #F28B82;
@define-color accent #8ab4f8;

* {
    border: none;
    border-radius: 0;
    font-family: Roboto Bold, JetBrainsMono Nerd Font Mono;
    font-size: 13.5px;
    min-height: 0;
}

window#waybar {
    background-color: @background;
    color: @foreground-alt;
}

#custom-launcher {
    color: @foreground;
    font-size: 18px;
    margin: 0 14px;
}

#workspaces button {
    min-width: 8px;
    box-shadow: inset 0 -2px transparent;
}

#workspaces button:hover {
    box-shadow: inset 0 -2px;
}

#workspaces button.focused {
    color: @foreground;
    box-shadow: inset 0 -2px;
}

#workspaces button.urgent {
    color: @accent;
    box-shadow: inset 0 -2px @accent;
}

#mode {
    margin-left: 10px;
    font-style: italic;
}

#cpu,
#memory,
#network,
#temperature {
    margin-right: 26px;
}

#temperature.critical {
    color: @urgent;
}

#tray {
    margin-right: 6px;
}

#pulseaudio,
#idle_inhibitor,
#custom-pomodoro,
#battery {
    margin: 0 8px;
    color: @foreground;
}

#pulseaudio,
#idle_inhibitor {
    font-family: JetBrainsMono Nerd Font;
    font-size: 18px;
}

#pulseaudio.muted {
    color: @foreground-sec;
}

#idle_inhibitor.deactivated {
    color: @foreground-sec;
}

#custom-pomodoro.stopped {
  color: @foreground-sec;
}

#custom-pomodoro.paused {
  color: @accent;
}

#battery.warning:not(.charging) {
    color: @urgent;
}

#battery.threshold.charging {
    color: @accent;
}
