@define-color background #000000;
@define-color background-alt #353535;
@define-color background-sec #474747;
@define-color foreground #ffffff;
@define-color foreground-alt #a3a3a3;
@define-color urgent #f66151;
@define-color accent #3584e4;
@define-color splitter #424242;

* {
  font-family: Cantarell;
  font-weight: 600;
  min-height: 0;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
}

window#waybar {
  background-color: @background;
  color: @foreground;
  font-size: 15px;
}

tooltip {
  background-color: @background-alt;
  border-radius: 18px;
  border: 1px solid @splitter;
}
tooltip label {
  color: @foreground;
}

.modules-left {
  margin-left: 12px;
}

.modules-right {
  margin-right: 12px;
}

#workspaces button {
  color: @foreground-alt;
  font-size: 12px;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  transition: none;
  background: none;
  color: @foreground;
}

#workspaces button.focused {
  color: @foreground;
  background: @foreground;
  border-radius: 20px;
  padding: 0px 5px;
  margin: 12px 3px;
  font-size: 0px;
}

#workspaces button.urgent {
  color: @accent;
}

#workspaces button.empty {
  color: @splitter;
}

#mode,
#window {
  padding: 0px 14px;
}

#mode {
  color: @background;
  background: @foreground;
  border-radius: 20px;
  margin: 3px 0px 3px 12px;
}

window#waybar.mode-invisible {
  opacity: 0;
}

window#waybar.mode-invisible.empty,
window#waybar.mode-invisible.floating {
  opacity: 1;
}

#cpu,
#memory,
#network,
#temperature,
#tray,
#idle_inhibitor {
  padding: 0 8px;
}

#clock {
  padding: 0 12px;
  margin: 3px 0px;
  border-radius: 20px;
}

#clock:hover {
  background: @background-sec;
}

#temperature.critical {
  color: @urgent;
}

#idle_inhibitor {
  color: @foreground;
  font-size: 18px;
}

#idle_inhibitor.deactivated {
  color: @foreground-alt;
}
